body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}
a {
    color: cornflowerblue;
    text-decoration: none;
}
h1 {
    font-size: 350%;
    text-align: center;
    border-bottom: 5px solid #666666;
    margin: 0;
    padding: 20px;
}
.saw {
    color: palevioletred;
}
ul {
    border-right:5px solid #666666;
    width: 120px;
    margin: 0;
    padding: 30px;
    padding-right: 28px;
}
body {
    margin: 0;
}
#grid {
    display: grid;
    grid-template-columns: 183px 1fr;
}
@media(max-width:1045px) {
    #grid{
        display: block; 
    }

    ul {
        border-right:none;  
    }
    h1 {
        border-bottom:none;
    }
}
.weapon-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    width: 1500px;
    text-align: center;
}

.weapon-box-header {
    background-color: #f2f2f2;
    padding: 10px;
    cursor: pointer;
}

.weapon-box-content {
    padding: 10px;
    display: none;
    background-color: #fafafa;
}
/* style.css */

/* weapon-input 내의 이미지 행에 대한 스타일 */
#weapon-input .image-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#weapon-input .image-row a {
    width: 48%;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

#weapon-input .image-row img {
    width: 100%;
}

#weapon-input .image-row h1 {
    margin-top: 10px;
}
#무기 {
    font-size: 60px;
    color: navy;
}
#부가설명-년차-속성 {
    font-size: 20px;
    color: cornflowerblue;
}

.weapon-container {
    display: flex;
}

.weapon-left-column, .weapon-right-column {
    padding: 50px;
}

.weapon-left-column {
    background-color: #666666;
    width: 50%;
}

.weapon-right-column {
    background-color: #666666;
    width: 50%;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 14px;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    transform: translate(100%, -100%);
    white-space: nowrap; /* 줄 바꿈을 허용하지 않음 */
}


.perks-weapon {
    border-bottom: 2px solid white;
    padding-bottom: 3px;
    margin-bottom: 5px; /* 풀 보어와 총열 사이의 간격 조정 */
}

.perks-weapon-title {
    text-align: center;
}

.perks-weapon-details {
    text-align: left;
    font-size: 12px;
    color: #f8d880;
}

.tooltip-text-body {
    text-align: center;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}
